body {
    font-family     : Arial, sans-serif;
    background-color: rgba(0, 0, 0, 0.8);
    color           : white;
    display         : flex;
    justify-content : center;
    align-items     : center;
    height          : 100vh;
    margin          : 0;
}

#mechanic-job-ui {
    text-align: center;
}

button {
    padding         : 10px 20px;
    font-size       : 16px;
    background-color: #4CAF50;
    color           : white;
    border          : none;
    cursor          : pointer;
}

button:hover {
    background-color: #45a049;
}

#message {
    margin-top: 20px;
}
